body {
  background-color: rgb(233, 199, 127);
}

h2 {
  text-align: center;
}

.smallLineBreak {
  margin-bottom: 6px;
  font-weight: bold;
}

.form-control {
  margin-bottom: 10px;
}

.btn {
  background-color: rgba(241, 161, 124, 0.959);
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: bold;
  border: solid black;
  border-width: 2px;
}

#pizzaCost {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  display:none;
}

img {
  margin: auto; 
  margin-bottom: 30px;
  width: 25%;
  height:auto;
  display:none;
}
